body {
    background-color:151525;
}
p {
    color:white;
}
div {
    margin-bottom:0.25rem;
    color:white;
}
.main {
    background:border-box;
    background-color:black;
    color:whitesmoke;
    cursor:pointer;
}
.ach {
    background:border-box;
    padding-left:0.125rem;
    padding-right:0.125rem;
    background-color:darkslategray;
    color:whitesmoke;
    cursor:not-allowed;
}
.achC {
    background:border-box;
    padding-left:0.125rem;
    padding-right:0.125rem;
    background-color:limegreen;
    color:black;
    cursor:inherit;
}
.L {
    display:none;
}